@page "/good-faith-estimate"
@inherits BaseComponent;

<PageTitle>GFE</PageTitle>
<button @onclick="GoToPrevious">back</button>
<h4 class="header">GFE</h4>
<label for="email">Enter email</label>
<input id="email" type="email" @bind="_wipInsuranceSeries.GFEEmail" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("visit reason - {0}", _appointmentSeries?.VisitReasonForm?.PatientRelationship);
        //Console.WriteLine(_appointmentSeries.ProviderID);
        //Console.WriteLine(_wipAppointmentSeries.ProviderID);
    }
    private void HandleValidSubmit()
    {
        //string whereFromValue = "insurance";
        //string targetUrl = $"/controller/next/{whereFromValue}";
        //_navigationManager.NavigateTo(targetUrl);
        _navigationManager.NavigateTo("/review");
    }
    private void GoToPrevious()
    {
        _navigationManager.NavigateTo("/insurance");
    }

    
}
