@page "/insurance-information"
@inherits BaseComponent;
<button @onclick="GoToPrevious">back</button>

<h4>Insurance Information</h4>


<div class="insurance-container">
    <h5>Insurance</h5>
    <p>@_wipInsuranceModule.InsuranceDetailsForm.MemberId</p>
    <p>@_wipInsuranceModule.InsuranceDetailsForm.GroupNumber</p>
    <p>@_wipInsuranceModule.InsuranceDetailsForm.PoBoxZipCode</p>

<button class="btn btn-primary" @onclick="HandleValidSubmit">Next</button>
</div>


@code
{
    protected override void OnInitialized()
        {
            if(!BaseComponent.InsurancePageDirectives.Contains("insurance-information"))
            {
                BaseComponent.InsurancePageDirectives.Add("insurance-information");
            }
        }
    private void HandleValidSubmit() 
    {
        string whereFromValue = "insurance";
        string targetUrl = $"/controller/next/{whereFromValue}";
        NavigationManager.NavigateTo(targetUrl);
    }

    private void GoToPrevious()
    {
        BaseComponent.InsurancePageDirectives.Remove("insurance-information");
        NavigationManager.NavigateTo("/insurance-details");
    }
}