@page "/insurance"

@inherits BaseComponent;

<PageTitle>Insurance</PageTitle>

<button @onclick="GoToPrevious">back</button>
<h4 class="header">Insurance</h4>

<button @onclick="NavigateToInsuranceDetails">Yes</button>
<button @onclick="NavigateToGoodFaithEstimate">No</button>


@code {   

        private void GoToPrevious()
        {
            string whereFromValue = "goodFaithEstimate";
            string targetUrl = $"/controller/back/{whereFromValue}";
            _navigationManager.NavigateTo(targetUrl);
        }

        private void NavigateToInsuranceDetails()
        {
            GoToPage("insurance-details");
        }

        private void NavigateToGoodFaithEstimate()
        {
            GoToPage("good-faith-estimate");
        }
        private void GoToPage(string selection) 
        {
            string targetUrl;
            if( selection == "insurance-details")
            {
                _wipInsuranceSeries.InsuranceChoice = "Yes";
                targetUrl = $"good-faith-estimate";
            }
            else
            {
                _wipInsuranceSeries.InsuranceChoice = "No";
                targetUrl = $"good-faith-estimate";
            }
             _navigationManager.NavigateTo(targetUrl);
        }
    }