@page "/insurance"
@using System.Text.Json;
@inherits BaseComponent;

<PageTitle>Insurance</PageTitle>

<button @onclick="GoToPrevious">back</button>
<h4 class="header">Insurance</h4>

<button @onclick="NavigateToInsuranceDetails">Yes</button>
<button @onclick="NavigateToGoodFaithEstimate">No</button>


@code {   

    protected override void OnInitialized()
        {
            BaseComponent.AddPageDirective(ModuleNames.insurance.ToString(), "insurance");
            Console.WriteLine(JsonSerializer.Serialize(BaseComponent.ModulePagesVisitedList));
        }

        private void GoToPrevious()
        {
            BaseComponent.RemovePageDirective(ModuleNames.insurance.ToString(), "insurance");
            string whereFromValue = "insurance";
            string targetUrl = $"/controller/back/{whereFromValue}";
            NavigationManager.NavigateTo(targetUrl);
        }

        private void NavigateToInsuranceDetails()
        {
            GoToPage("insurance-details");
        }

        private void NavigateToGoodFaithEstimate()
        {
            GoToPage("good-faith-estimate");
        }
        private void GoToPage(string selection) 
        {
            string targetUrl;
            if( selection == "insurance-details")
            {
                _wipInsuranceModule.InsuranceChoice = "Yes";
                targetUrl = $"insurance-details";
            }
            else
            {
                _wipInsuranceModule.InsuranceChoice = "No";
                targetUrl = $"good-faith-estimate";
            }
             NavigationManager.NavigateTo(targetUrl);
        }
    }