@page "/{ProviderID}/schedule-appointment"
@inherits BaseComponent
@* TODO: address provider id in the route *@
<div class="patient-selection-container">
    @foreach (BookingFor bookingOption in Enum.GetValues(typeof(BookingFor)))
    {
        <button class="btn btn-primary" type="button" @onclick="() => HandleValidSubmit(bookingOption)">
            @bookingOption
        </button>
    }
</div>

@code {
    [Parameter]
    public string? ProviderID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        try
        {
            _modelState.ProviderID = ProviderID;
        }
        catch (Exception e)
        {
            //TODO: Handle Exception
            Console.WriteLine($"Error: {e.Message}");
        }
    }
    private void HandleValidSubmit(BookingFor bookingFor)
    {
        Console.WriteLine(bookingFor);
        _modelState.BookingFor = bookingFor;
        _navigationManager.NavigateTo("/visit-reason");
    }
}
