@page "/insurance"

@inherits BaseComponent;

<PageTitle>Insurance</PageTitle>

<button @onclick="GoToPrevious">back</button>
<h4 class="header">Insurance</h4>

<button @onclick="GoToInsuranceDetails">Yes</button>
<button @onclick="GoToGFE">No</button>


@code {   

        private void GoToPrevious()
        {
            _navigationManager.NavigateTo("/select-time");
        }

        private void GoToInsuranceDetails() 
        {
            string whereFromValue = "insurance";
            string entryPointPageDirectives = "insurance";
            string targetUrl = $"/scheduling/{whereFromValue}/{entryPointPageDirectives}";
            _navigationManager.NavigateTo(targetUrl);
        }

        private void GoToGFE() 
        {
           _InsuranceSeries.InsuranceChoice = "No";
           _navigationManager.NavigateTo("/gfe");
        }
    }