@page "/{ProviderID}/schedule-appointment"
@inherits BaseComponent

<div class="patient-selection-container">
    @foreach (BookingFor bookingOption in Enum.GetValues(typeof(BookingFor)))
    {
        <button class="btn btn-primary" type="button" @onclick="() => HandleValidSubmit(bookingOption)">
            @bookingOption
        </button>
    }
</div>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms. I have access to the cascading values I require.</p>
@code {
    [Parameter]
    public string? ProviderID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        try
        {
            _modelState.ProviderID = ProviderID;
        }
        catch (Exception e)
        {
            //TODO: Handle Exception
            Console.WriteLine($"Error: {e.Message}");
        }
    }
    private void HandleValidSubmit(BookingFor bookingFor)
    {
        Console.WriteLine(bookingFor);
        _modelState.BookingFor = bookingFor;
        _navigationManager.NavigateTo("/visit-reason");
    }
}
