@* @page "/visit-reason" *@
@page "/visit-reason"

@inherits BaseComponent;

<PageTitle>Visit reason</PageTitle>

<button @onclick="GoToPrevious">back</button>
@if(_visitReasonSeries.IsEditing)
{
    <h4 class="header">Edit Visit reason</h4>
}
else
{
    <h4 class="header">Visit reason</h4>
}

<EditForm Model="@_wipVisitReasonSeries.VisitReasonForm" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <label for="visitReasonName">Visit Reason Name</label>
        <InputText id="visitReasonName" class="form-control" @bind-Value="_wipVisitReasonSeries.VisitReasonForm.VisitReasonName" />
    </div>

    <div class="form-group">
        <label for="patientRelationship">Patient Relationship</label>
        <InputText id="patientRelationship" class="form-control" @bind-Value="_wipVisitReasonSeries.VisitReasonForm.PatientRelationship" />
    </div>

    <div class="form-group">
        <label for="visitMethod">Visit Method</label>
        <InputText id="visitMethod" class="form-control" @bind-Value="_wipVisitReasonSeries.VisitReasonForm.VisitMethod" />
        @* <input type="checkbox" @bind="_wipVisitReasonSeries.VisitReasonForm.VisitMethod" /> *@
    </div>

    <div class="form-group">
        <label for="reasonComment">Reason Comment</label>
        <InputTextArea id="reasonComment" class="form-control" @bind-Value="_wipVisitReasonSeries.VisitReasonForm.ReasonComment" />
    </div>

    <button class="btn btn-primary" type="submit" >Next</button>
</EditForm>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms. I have access to the cascading values I require.</p>
@code {  
        private string? whereFrom { get; set; } 
        private bool ContainsEdit => _navigationManager.Uri.Contains("edit", StringComparison.OrdinalIgnoreCase);
        private void HandleValidSubmit() 
        {
            if(_wipVisitReasonSeries?.VisitReasonForm?.VisitMethod?.ToLower() == "video")
            {
                _isTeleHealth = true;
                //Console.WriteLine(_isTeleHealth);
            }
            string whereFromValue = "visitReason";
            string entryPointPageDirectives = "visit-reason";
            string targetUrl = $"/scheduling/{whereFromValue}/{entryPointPageDirectives}";
            _navigationManager.NavigateTo(targetUrl);
        }

        private void GoToPrevious()
        {
            _navigationManager.NavigateTo("/");
        }
    }