@page "/telehealth"
@inherits BaseComponent;

<PageTitle>Telehealth</PageTitle>
<button>back</button>
<h4 class="header">Telehealth</h4>
<label for="email">Enter email</label>
<input id="email" type="email" @bind="_visitReasonTemp.TelehealthCommunictaionEmail" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms. I have access to the cascading values I require.</p>
@code {
    
    private void HandleValidSubmit()
    {
        Console.WriteLine(_visitReasonTemp.TelehealthCommunictaionEmail);
        //The visit reason ends here for telehealth intake and edit
        _visitReasonPermanent = _visitReasonTemp;
        _navigationManager.NavigateTo("/review");
    }

    
}
