@page "/patient-selection"
@inherits BaseComponent

<div class="patient-selection-container">
    @foreach (BookingFor bookingOption in Enum.GetValues(typeof(BookingFor)))
    {
        <button class="btn btn-primary" type="button" @onclick="() => HandleValidSubmit(bookingOption)">
            @bookingOption
        </button>
    }
</div>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>
@code {

    protected override void OnInitialized()
    {
        if(!BaseComponent.PatientSelectionPageDirectives.Contains("patient-selection"))
        {
            BaseComponent.PatientSelectionPageDirectives.Add("patient-selection");
        }
    }
    private void HandleValidSubmit(BookingFor bookingFor)
    {
        _wipPatientSelectionmodule.BookingFor = bookingFor;
        string whereFromValue = "patientselection";
        string targetUrl;
        if( bookingFor == BookingFor.Guest)
        {
            targetUrl = "/date-of-birth";
        }
        else
        {
            targetUrl = $"/controller/next/{whereFromValue}";
        }
        NavigationManager.NavigateTo(targetUrl);
        
    }
}
