@page "/patient-address"
@inherits BaseComponent;

<h4>Patient Address</h4>
<button @onclick="GoToPrevious">back</button>
<label for="address">Enter address</label>
<input id="address" type="text" @bind="_wipPatientInformationmodule.Address" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
@code 
{
    protected override void OnInitialized()
        {
            BaseComponent.AddPageDirective(ModuleNames.patientinformation.ToString(), "patient-address");
        }
    private void HandleValidSubmit()
    {
        string whereFromValue = "patientinformation";
        string targetUrl = $"/controller/next/{whereFromValue}";
        NavigationManager.NavigateTo(targetUrl);
    }

    private void GoToPrevious()
    {
        BaseComponent.RemovePageDirective(ModuleNames.patientinformation.ToString(), "patient-address");
        NavigationManager.NavigateTo("patient-info");
    }

}