@page "/patient-info"
@inherits BaseComponent;

<h4>Patient Information</h4>
<button @onclick="GoToPrevious">back</button>
<label for="name">Enter name</label>
<input id="name" type="text" @bind="_wipPatientInformationmodule.Name" />
<button class="btn btn-primary" @onclick="HandleValidSubmit">Next</button>
@code 
{
    protected override async Task OnInitializedAsync()
    {   
        BaseComponent.AddPageDirective(ModuleNames.patientinformation.ToString(), "patient-info");
    }
    private void GoToPrevious()
    {
        BaseComponent.RemovePageDirective(ModuleNames.patientinformation.ToString(), "patient-info"); 
        string whereFromValue = "patientinformation";
        string targetUrl = $"/controller/back/{whereFromValue}";
        NavigationManager.NavigateTo(targetUrl);
    }
    private void HandleValidSubmit()
    {
        NavigationManager.NavigateTo("/patient-address");
    }
}