@page "/patient-info"
@inherits BaseComponent;

<h4>Patient Information</h4>
<button @onclick="GoToPrevious">back</button>
<label for="name">Enter name</label>
<input id="name" type="text" @bind="_wipPatientInformationSeries2.Name" />
<button class="btn btn-primary" @onclick="HandleValidSubmit">Next</button>
@code 
{
    protected override async Task OnInitializedAsync()
    {   
        if(!BaseComponent.PatientInformationPageDirectives.Contains("patient-info"))
        {
            BaseComponent.PatientInformationPageDirectives.Add("patient-info");  
        }
    }
    private void GoToPrevious()
    {
        BaseComponent.PatientInformationPageDirectives.Remove("patient-info");  
        string whereFromValue = "patientinformation";
        string targetUrl = $"/controller/back/{whereFromValue}";
        _navigationManager.NavigateTo(targetUrl);
    }
    private void HandleValidSubmit()
    {
        _navigationManager.NavigateTo("/patient-address");
    }
}