@page "/date-of-birth"
@inherits BaseComponent;
@using System.Text.Json;

<PageTitle>Telehealth</PageTitle>
<button @onclick="GoToPreviousPage">back</button>
<h4 class="header">Patient date of birth</h4>
<label for="dob">Enter date of birth</label>
<input id="dob" type="date" @bind="_PatientSelectionmodule.dateOfBirth" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>
@code {
    protected override void OnInitialized()
    {
        BaseComponent.AddPageDirective(ModuleNames.patientselection.ToString(), "date-of-birth");
        Console.WriteLine(JsonSerializer.Serialize(BaseComponent.ModulePagesVisitedList));
    }
    private void HandleValidSubmit()
    {
        string whereFromValue = "patientselection";
        string targetUrl = $"/controller/next/{whereFromValue}";
        NavigationManager.NavigateTo(targetUrl);
    }

    private void GoToPreviousPage()
    {
        BaseComponent.RemovePageDirective(ModuleNames.patientselection.ToString(), "date-of-birth");
        Console.WriteLine(JsonSerializer.Serialize(BaseComponent.ModulePagesVisitedList));
        NavigationManager.NavigateTo("/patient-selection");
    }

    
}
