@page "/patient-address"
@inherits BaseComponent;

<h4>Patient Address</h4>
<button @onclick="GoToPrevious">back</button>
<label for="address">Enter address</label>
<input id="address" type="text" @bind="_wipPatientInformationSeries2.Address" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
@code 
{
    protected override void OnInitialized()
        {
            if(!BaseComponent.PatientInformationPageDirectives.Contains("patient-address"))
            {
                BaseComponent.PatientInformationPageDirectives.Add("patient-address");
            }
        }
    private void HandleValidSubmit()
    {
        string whereFromValue = "patientinformation";
        string targetUrl = $"/controller/next/{whereFromValue}";
        _navigationManager.NavigateTo(targetUrl);
    }

    private void GoToPrevious()
    {
        BaseComponent.PatientInformationPageDirectives.Remove("patient-address");
        _navigationManager.NavigateTo("patient-info");
    }

}