@page "/patient-info"
@inherits BaseComponent;

<h4>Patient Information</h4>
<label for="name">Enter name</label>
<input id="name" type="text" @bind="_patientInformationSeries.Name" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
@code 
{
private void HandleValidSubmit()
    {
        string whereFromValue = "appointmentQuestions";
        string currentPageDirective = "patient-info";
        string targetUrl = $"/scheduling/{whereFromValue}/{currentPageDirective}";
        _navigationManager.NavigateTo(targetUrl);
    }
}