@page "/patient-info"
@inherits BaseComponent;

<h4>Patient Information</h4>
<button @onclick="GoToPrevious">back</button>
<label for="name">Enter name</label>
<input id="name" type="text" @bind="_wipPatientInformationSeries2.Name" />
<button class="btn btn-primary" @onclick="HandleValidSubmit">Next</button>
@code 
{
    protected override async Task OnInitializedAsync()
    {
        //Console.WriteLine("visit reason - {0}", _appointmentSeries?.VisitReasonForm?.PatientRelationship);
        //Console.WriteLine(_appointmentSeries.ProviderID);
        //Console.WriteLine(_wipAppointmentSeries.ProviderID);
    }
    private void GoToPrevious()
    {
        string whereFromValue = "patientinformation2";
        string targetUrl = $"/controller/back/{whereFromValue}";
        _navigationManager.NavigateTo(targetUrl);
    }
    private void HandleValidSubmit()
    {
        _navigationManager.NavigateTo("/patient-address");
    }
}