@page "/tele-health"
@inherits BaseComponent;

<PageTitle>Telehealth</PageTitle>
<button @onclick="GoToPrevious">back</button>
<h4 class="header">Telehealth</h4>
<label for="email">Enter email</label>
<input id="email" type="email" @bind="_wipAppointmentModule.TelehealthCommunictaionEmail" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>
@code {

    protected override void OnInitialized()
        {
            BaseComponent.AddPageDirective(ModuleNames.appointment.ToString(), "tele-health");
        }
    private void HandleValidSubmit()
    {
        string whereFromValue = "appointment";
        string targetUrl = $"/controller/next/{whereFromValue}";
        NavigationManager.NavigateTo(targetUrl);
    }

    private void GoToPrevious()
    {
        BaseComponent.RemovePageDirective(ModuleNames.appointment.ToString(), "tele-health");
        NavigationManager.NavigateTo("/select-time");
    }

    
}
