@page "/select-time"
@inherits BaseComponent;

<PageTitle>Time selection</PageTitle>
<button @onclick="GoToPrevious">back</button>
<h4 class="header">Time selection</h4>
@if(_appointmentSeries.IsEditing)
{
    <h4 class="header">Edit Appointment</h4>
}
else
{
    <h5 role="status">Schedule Appointment</h5>
}


@foreach(var time in timeSlots)
{
    <button style="margin-right:10px;" class="btn btn-primary" @onclick="() => HandleValidSubmit(time)" >@time</button>
}
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>

@code {
    
    private string[] timeSlots = { "8.00", "9.00", "10.00", "11.00", "12.00", "1.00" };
    protected override void OnInitialized()
        {
            if(!BaseComponent.AppointmentPageDirectives.Contains("select-time"))
            {
                BaseComponent.AppointmentPageDirectives.Add("select-time");
            }
        }
    private void HandleValidSubmit(string time)
    {
        _wipAppointmentSeries.SelectedTime = time;
        //if(_inEdit)
        //{
            if(!_wipAppointmentSeries.IsTelehealth)
            {
                string whereFromValue = "appointment";
                string targetUrl = $"/controller/next/{whereFromValue}";
                _navigationManager.NavigateTo(targetUrl);
            }
            else
            {
                _navigationManager.NavigateTo("/tele-health");
            }
        //}
        //else
        //{
        //    _navigationManager.NavigateTo("/tele-health");
        //}
    }

    private void GoToPrevious()
        {
            BaseComponent.AppointmentPageDirectives.Remove("select-time");
            _navigationManager.NavigateTo("/work-related");
        }
}
