@* @page "/visit-reason" *@
@page "/visit-reason"

@inherits BaseComponent;

<PageTitle>Visit reason</PageTitle>

<button @onclick="GoToPrevious">back</button>
@if(_AppointmentModule.IsEditing)
{
    <h4 class="header">Edit Visit reason</h4>
}
else
{
    <h4 class="header">Visit reason</h4>
}

<EditForm Model="@_wipAppointmentModule.VisitReasonForm" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <label for="visitReasonName">Visit Reason Name</label>
        <InputText id="visitReasonName" class="form-control" @bind-Value="_wipAppointmentModule.VisitReasonForm.VisitReasonName" />
    </div>

    <div class="form-group">
        <label for="patientRelationship">Patient Relationship</label>
        <InputText id="patientRelationship" class="form-control" @bind-Value="_wipAppointmentModule.VisitReasonForm.PatientRelationship" />
    </div>

    <div class="form-group">
        <label for="visitMethod">Visit Method</label>
        <InputText id="visitMethod" class="form-control" @bind-Value="_wipAppointmentModule.VisitReasonForm.VisitMethod" />
        @* <input type="checkbox" @bind="_wipAppointmentModule.VisitReasonForm.VisitMethod" /> *@
    </div>

    <div class="form-group">
        <label for="reasonComment">Reason Comment</label>
        <InputTextArea id="reasonComment" class="form-control" @bind-Value="_wipAppointmentModule.VisitReasonForm.ReasonComment" />
    </div>

    <button class="btn btn-primary" type="submit" >Next</button>
</EditForm>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>
@code {  
        private string? whereFrom { get; set; } 
        private bool ContainsEdit => NavigationManager.Uri.Contains("edit", StringComparison.OrdinalIgnoreCase);

        protected override void OnInitialized()
        {
            BaseComponent.AddPageDirective(ModuleNames.appointment.ToString(), "visit-reason");
        }
        private void HandleValidSubmit() 
        {
            if(_wipAppointmentModule.VisitReasonForm.VisitMethod.ToLower() == "video")
            {
                BaseComponent.IsTeleHealth = true;
            }
            else
            {
                BaseComponent.IsTeleHealth = false;
            }
            if(InEdit)
            {
                NavigationManager.NavigateTo("/select-time");
            }
            else
            {
                NavigationManager.NavigateTo("/work-related");
            }

        }

        private void GoToPrevious()
        {
            BaseComponent.RemovePageDirective(ModuleNames.appointment.ToString(), "visit-reason");
            string whereFromValue = "appointment";
            string targetUrl = $"/controller/back/{whereFromValue}";
            NavigationManager.NavigateTo(targetUrl);
        }
    }