@page "/work-related"
@inherits BaseComponent;

<PageTitle>Telehealth</PageTitle>
<button>back</button>
<h4 class="header">work-related-claim</h4>
<label for="workRelated">Enter information</label>
<input id="workRelated" type="text" @bind="_wipVisitReasonSeries.WorkRelated" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>
@code {
    
    private void HandleValidSubmit()
    {
        string whereFromValue = "appointmentQuestions";
        string currentPageDirective = "work-related";
        string targetUrl = $"/scheduling/{whereFromValue}/{currentPageDirective}";
        _navigationManager.NavigateTo(targetUrl);
    }

    
}
