@page "/work-related"
@inherits BaseComponent;

<PageTitle>Telehealth</PageTitle>
<button @onclick="GoToPrevious">back</button>
<h4 class="header">work-related-claim</h4>
<label for="workRelated">Enter information</label>
<input id="workRelated" type="text" @bind="_wipAppointmentSeries.WorkRelated" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>
@code {
    
    protected override void OnInitialized()
        {
            if(!BaseComponent.AppointmentPageDirectives.Contains("work-related"))
            {
                BaseComponent.AppointmentPageDirectives.Add("work-related");
            }  
        }
    private void HandleValidSubmit()
    {
        if(_inEdit)
        {
                string whereFromValue = "appointment";
                string targetUrl = $"/controller/next/{whereFromValue}";
                _navigationManager.NavigateTo(targetUrl);
            }
            else
            {
                _navigationManager.NavigateTo("select-time");
            }
        
    }

    private void GoToPrevious()
    {
        BaseComponent.AppointmentPageDirectives.Remove("work-related");
        if(_inEdit)
        {
            string whereFromValue = "appointment";
            string targetUrl = $"/controller/back/{whereFromValue}";
            _navigationManager.NavigateTo(targetUrl);
        }
        else
        {
            _navigationManager.NavigateTo("/visit-reason");
        }
    }

    
}
