@page "/work-related"
@inherits BaseComponent;

<PageTitle>Telehealth</PageTitle>
<button @onclick="GoToPrevious">back</button>
<h4 class="header">work-related-claim</h4>
<label for="workRelated">Enter information</label>
<input id="workRelated" type="text" @bind="_wipAppointmentSeries.WorkRelated" />
<button class="btn btn-primary" @onclick="HandleValidSubmit" >Next</button>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.  </p>
@code {
    
    private void HandleValidSubmit()
    {
        _navigationManager.NavigateTo("select-time");
    }

    private void GoToPrevious()
    {
        _navigationManager.NavigateTo("/visit-reason");
    }

    
}
