@inject HttpClient Http
@inherits BaseComponent

<h4>Provider Summary</h4>
<p>I am a global shared component. I get the Provider data through Provider api. the http call for Provider has through be moved here </p>

    @* <img src="https://cdn-images.kyruus.com/providermatch/banner/photos/85/esterberg-justin-1558494427.jpg"> *@
    <div>Dr 
        <span>@provider.firstName</span>
        <span>@provider.lastName</span>
    </div>
    @* <p>@string.Join(", ", Provider.Specialties.Select(specialty => specialty.SpecialtyName))</p> *@



@code
{
    private Provider provider { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        provider = new()
        {
            firstName = "Joe",
            lastName = "Blow",
            providerId = "",
            seesNewPatients = true,
            visitReasons =
            [
                "reason1",
            "reason2"
            ]
        };
    }
}