@inject HttpClient Http


<h4>Provider Summary</h4>
<p>Iam a global shared component. I get the Provider data through Cascading parameter </p>
@if(!string.IsNullOrEmpty(FirstName))
{
    <img src="@Provider?.ImageUrl">
    <div>Dr 
        <span>@FirstName</span>
        <span>@LastName</span>
    </div>
    <p>@string.Join(", ", Provider.Specialties.Select(specialty => specialty.SpecialtyName))</p>
}


@code
{
    private Result? Provider { get; set; }
    private string FirstName = "";
    private string LastName = "";
    
    protected override async Task OnInitializedAsync()
    {
        var providerResponse = await Http.GetFromJsonAsync<Provider>("sample-data/Provider.json");
        Provider = providerResponse?.Content?.Results?.FirstOrDefault();
        FirstName = Provider?.Name?.FirstName ?? string.Empty ;
        LastName = Provider?.Name?.LastName ?? string.Empty ;   
    }
    
}